@using System
@namespace MelTycoon

@inherits Sandbox.UI.WorldPanel

@code
{
    public string Label { get; set; }

    protected override int BuildHash()
    {
        return HashCode.Combine(Label.FastHash());
    }
}

<root>
    <label>@Label</label>
</root>

<style>
    TextWorldPanel {
        position: absolute;
        align-items: center;
        justify-content: center;
        font-size: 62px;
        font-family: Poppins;
        font-weight: bold;
        color: white;
        text-stroke: 10px black;
    }
</style>
